/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    background: #FFF;
}
h2.latest-text {
    border-left: 5px solid #ff8d1b;
    font-size: 2em;
    color: #212121;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    padding: 0.3em 0.5em;
    margin-left: 3em;
}
.w3ls-news-result{
	margin:0 0 1em 0;
}
.w3ls-news-result h4{
	font-size: 1em;
    margin: 0;
    color: #000000;
    font-weight: 600;
}
.w3ls-news-result h4 span{
       color: #fe423f;
}
td.w3-list-img a{
	text-decoration:none;
}
td.w3-list-img a img {
    width: 16% !important;
}
td.w3-list-img a span{
	color:#000000;
	font-size:1em;
	font-weight:600;
	text-decoration:none;
	display:block;
	margin:.5em 0 0 0;
	    letter-spacing: 1px;
}
td.w3-list-info a {
    color: #424242;
    text-decoration: none;
	    letter-spacing: 1px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #ffffff;
    cursor: default;
    background: #3ec0e1;
    border: 1px solid #3ec0e1;
}
.nav-tabs > li > a {
    margin-right: 6px;
    font-size: 1em;
      color: #0c0d0d;
    border: solid 1px #fff;
	outline:none;
    border-radius: 0px !important;
    background: #ffffff;
    padding: .2em 0.573em;
}
.nav-tabs > li > a:focus{
	background:transparent;
	 border: solid 1px #fff;
}
.nav-tabs {
    border-bottom: none;
    margin: 2em auto;
    text-align: center;
}
.nav-tabs > li {
    margin: 0 .5em 0 0;
}
.nav-tabs > li > a:hover {
    color:#FFFFFF !important;
      background: #3ec0e1;
	 border: solid 1px #fff;
}
/*-- responsive --*/
@media(max-width:1080px){
	.nav-tabs > li {
		margin: 0 .5em 0.5em 0;
	}
	td.w3-list-img a img {
		width: 25% !important;
	}
	td.w3-list-img a span {
		margin: .5em 0 0 0;
	}
	.nav-tabs > li > a {
    margin-right:4px;
    font-size: 0.9em;
	}
}
@media(max-width:736px){
	.nav-tabs {
		margin: 0em auto;
	}
}
@media(max-width:640px){
	td.w3-list-img a span {
		color: #000000;
		font-size: 0.8em;
	}
}
@media(max-width:480px){
	.nav-tabs {
		margin: 0em auto 1em;
	}
}
/*-- //responsive --*/