body {
    font-size: 100%;
    font-family: Dosis, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    background: #020d18;
    margin: 0px!important;
}

p {
    margin: 0;
    font-size: 14px;
}

a {
    color: #fff;
}

a:hover {
    color: #dcf836;
}

h1,
h2,
h3,
h4,
h6 {
    font-family: Dosis, Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    color: #fff;
}

ul,
label {
    margin: 0;
    padding: 0;
}

body p {
    font-family: Dosis, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

body a:hover {
    text-decoration: none;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
}

input[type="submit"] {
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0;
}

.modal-header {
    min-height: 16.42857143px;
    padding: 2em;
    border-bottom: 0px solid #e5e5e5;
}

.login-form input[type="email"],
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 1em 1em 1em 1em;
    font-size: 0.8em;
    margin: 1em 0;
    outline: none;
    color: #212121;
    border: 1px solid #999;
    letter-spacing: 1px;
    text-align: center;
}

.login-form input[type="submit"] {
    outline: none;
    padding: 0.9em 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    background: #dcf836;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
    border-radius: 50px;
}

.login-form input[type="submit"]:hover {
    background: #0c0d0d;
}

.modal-header h4 {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #0c0d0d;
}

.modal-dialog {
    width: 600px;
    margin: 96px auto;
}

.inner-header {
    position: relative;
}

.navbar-header h1 {
    font-size: 2em;
    display: block;
    text-transform: uppercase;
}

.navbar-header h1 a {
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    line-height: 78px;
    font-weight: bold;
}

h1 span {
    color: #dcf836;
    font-size: 1.5em;
}

ul.nav.navbar-nav {
    margin-left: 3em;
    margin-top: 1.3em;
}

.navbar-default {
    background: none;
    border: none;
    margin: 0;
    min-height: inherit;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #dcf836;
    background: none!important;
}

.navbar-nav>li {
    margin: 0 0.3em;
}

.navbar-default .navbar-nav>li>a {
    padding: 1em 0.7em;
    position: relative;
    text-transform: uppercase;
    font-family: Dosis, Helvetica, Arial, sans-serif;
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #dcf836;
    background: none!important;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #dcf836;
}

.navbar-collapse {
    padding: 0!important;
}

ul.nav.navbar-nav li.active {
    border-right: none;
}

ul.dropdown-menu.multi-column ul li {
    display: block;
    margin-bottom: .5em;
}

ul.dropdown-menu.multi-column ul li a {
    color: #212121;
    font-weight: normal;
}

ul.dropdown-menu.multi-column {
    width: 400px;
    left: 0;
    padding: 1em;
}

ul.dropdown-menu.multi-column ul li a:hover {
    color: #656565;
}

.dropdown-menu {
    border-radius: 0;
    border-top: 2px solid #dcf836;
}

.cd-main-header {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    transition: transform;
}

.cd-main-header {
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.cd-header-buttons {
    position: absolute;
    display: inline-block;
    top: -60px;
    right: 45px;
}

.cd-header-buttons > li {
    display: inline-block;
}

.cd-search-trigger {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
    z-index: 3;
}

.cd-search-trigger::before,
.cd-search-trigger::after {
    content: '';
    position: absolute;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cd-search-trigger::before {
    top: 11px;
    left: 11px;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #fff;
}

.cd-search-trigger::after {
    height: 3px;
    width: 8px;
    background: #fff;
    bottom: 14px;
    right: 11px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cd-search-trigger span {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.cd-search-trigger span::before,
.cd-search-trigger span::after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 22px;
    top: 50%;
    margin-top: -2px;
    left: 50%;
    margin-left: -11px;
    background: #fff;
    opacity: 0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.cd-search-trigger span::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cd-search-trigger span::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cd-search {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-search input {
    border-radius: 0;
    border: none;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    padding: 0 5%;
    -webkit-box-shadow: inset 0 1px 0 #dcf836, 0 3px 6px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 #dcf836, 0 3px 6px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 #dcf836, 0 3px 6px rgba(0, 0, 0, 0.05);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-size: 1.2em;
    padding: 1em 2em;
    color: #fff;
    letter-spacing: 1px;
}

.cd-search input::-webkit-input-placeholder {
    color: #fff!important;
}

.cd-search input::-moz-placeholder {
    color: #fff!important;
}

.cd-search input:-moz-placeholder {
    color: #fff!important;
}

.cd-search input:-ms-input-placeholder {
    color: #fff!important;
}

.cd-search input:focus {
    outline: none;
}

.banner-info {
    padding-top: 10em;
    margin: 0 auto;
    text-align: center;
}

.banner-info h3 {
    text-align: center;
    font-size: 3.5em;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.banner-info h3 span {
    color: #dcf836;
}

.banner-info h4 {
    text-align: center;
    font-size: 1em;
    color: #fff;
    margin: 2em 0 2.5em 0;
    font-family: Dosis, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
}

a.play-icon-1 {
    border: none;
    outline: none;
    background: #fe423f;
    padding: 0.7em 1em 0.7em 1em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9em;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
}

a.play-icon-1:hover {
    text-decoration: none;
    background: #0c0d0d;
}

.checkbox {
    position: relative;
    padding-left: 22px!important;
    cursor: pointer;
    line-height: initial;
    font-size: 1em;
    color: #353F49;
    font-weight: 500;
    margin: 0 0 1.5em;
}

.checkbox {
    position: relative;
    padding-left: 22px!important;
    cursor: pointer;
    line-height: initial;
    font-size: 1em;
    color: #353F49;
    font-weight: 500;
    margin: 0 0 1.5em;
}

.forgot {
    float: right;
}

.forgot a {
    font-size: 1em;
    color: #353F49;
    display: block;
    font-weight: 500;
    text-decoration: none;
}

a.w3layouts-t {
    color: #ff4c4c;
    margin: 0 5px;
}

.forgot a:hover {
    color: #dcf836;
}

a.w3layouts-t:hover {
    text-decoration: underline;
}

.signin-rit {
    margin-top: 0.7em;
}

.forgot-grid {
    margin-top: 1.5em;
}

.log-check {
    float: left;
}

.content-inner {
    padding: 0;
}

.main-wrapper {
    padding: 2em 0.5em;
    color: #fff;
}

.play-icon i {
    font-size: 3em;
    color: #dcf836;
}

.play-icon {
    display: none;
}

.item-description-upper {
    margin: 0.7em 0;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.item-description-bottom p {
    float: left;
    font-size: 1em;
    color: #fff;
    line-height: 22px;
}

.block-stars {
    float: right;
    color: #fff;
}

.block-stars i {
    color: #fe423f;
}

.item-description {
    text-align: left;
}

.tab-wrapper-content {
    padding: 2em 0em 0em 0.3em;
}

p.item-header {
    text-transform: uppercase;
    font-size: 1.3em;
    color: #fff;
    font-weight: bold;
    padding-bottom: 1em;
}

p.item-para {
    margin-top: .8em;
    color: #9ea2a2;
    line-height: 1.5em;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

p.item-para label {
    font-style: normal;
}

p.item-para span {
    color: #dcf836;
    font-size: 14px;
    font-weight: bold;
    float: left;
    width: 25%;
}

p.item-para a {
    color: #9ea2a2;
}

.conjuring_w3 {
    height: 65px;
}

p.fexi_header_para1 a i {
    color: #fff!important;
}

.video-content img {
    width: 100%;
}

#video,
#video1,
#video2 {
    position: relative;
    background: #000;
    width: 100%;
    margin: 0px auto;
}

#video img,
#video1 img,
#video2 img {
    display: block;
    width: 100%;
}

#play {
    position: absolute;
    top: 38%;
    left: 44%;
    width: 64px;
    height: 64px;
    cursor: pointer;
    background: url('http://project/images/play-button.png') no-repeat 0px 0px;
    background-size: auto, cover;
    z-index: 9;
}

.video-player {
    float: left;
}

.items-list {
    float: right;
    padding-right: 0;
}

.video-wrapper {
    padding: 0;
    margin-bottom: 2rem;
    margin-bottom: 2em;
}

.video-wrapper > h4 {
    margin-bottom: 1em;
    padding-bottom: 2px;
    border-bottom: 1px solid #fff;
}

h3.section-title {
    margin: 0.5em 0;
    font-size: 2em;
    color: #dcf836;
    text-align: left;
    padding-bottom: 7px;
    border-bottom: 1px solid #dcf836;
}

.section-wrapper {
    /*padding: 2em 1em;*/
    width: 99%;
    margin: 0 auto;
}

.section-wrapper img {
    width: 100%;
    box-shadow: 0px 2px 1px rgba(110, 110, 111, 0.12);
    border-radius: 3px;
}

#contact {
    background: #210eb924;
    padding: 3em 0 1em 0;
}

.footer-inner {
    padding: 0 2em;
}

.footer-copyright {
    padding: 1em 0;
    background: #dcf836;
}

#contact h2 {
    text-align: center;
    font-size: 1.4em;
    color: #fff;
}

p.para {
    text-align: center;
    margin: 1em auto 0;
    font-size: 1em;
    color: #999;
    width: 60%;
    line-height: 1.9em;
}

.footer-wrapper ul.social-icons {
    list-style: none;
    margin: 1.5em auto;
    /*text-align: center;*/
}

.footer-wrapper ul.social-icons li {
    display: inline-block;
    margin-right: 6px;
}

.footer-wrapper ul.social-icons li a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

.footer-wrapper ul.social-icons li a i.fa {
    font-size: 18px;
    line-height: 41px;
    width: 42px;
    height: 42px;
    border: 1px solid #999;
    text-align: center;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    color: #fff;
}

.footer-wrapper ul.social-icons li a i.fa:hover {
    background-color: #dcf836;
    border: 1px solid #dcf836;
    color: #fff;
}

.footer-wrapper ul.social-icons li a:hover {
    color: #fff;
}

div#home {
    background-color: #020d18e3;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
}

.form-control.tt-input:focus {
    border-color: inherit;
    -webkit-box-shadow: inset 0 1px 0 #dcf836, 0 3px 6px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 #dcf836, 0 3px 6px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 #dcf836, 0 3px 6px rgba(0, 0, 0, 0.05);
}

label {
    font-weight: 500;
}

.footer-contact input[type="email"] {
    outline: none;
    border: none;
    background: #fff;
    padding: 12px 15px;
    font-size: 14px;
    width: 75%;
    margin: 0 auto;
    letter-spacing: 1px;
}

.footer-contact input[type="submit"] {
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 0.9em;
    width: 21.3%;
    padding: 11px 0 12px;
    margin-left: .5em;
    border: 1px solid #999;
    text-transform: uppercase;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.footer-contact input[type="submit"]:hover {
    color: #fff;
    background: #dcf836;
    border-color: #dcf836;
}

.footer-contact {
    width: 35%;
    margin: 1em auto 2.5em;
}

h3.follow {
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#contact h2 {
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
}

.footer-grid h4 {
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 1em;
    border-bottom: 1px solid #1a1d1d;
    padding-bottom: 1em;
    letter-spacing: 1px;
}

h4.b-log {
    color: #fff;
    font-size: 1em;
    font-weight: bold;
}

h4.b-log a {
    color: #fff;
    font-weight: bold;
}

h4.b-log a span {
    color: #dcf836;
    font-size: 1.5em;
}

.footer-grid ul li {
    color: #fff;
    margin: 0 0 0.5em;
    list-style: none;
}

.footer-grid ul li a {
    font-size: 14px;
    color: #606161;
    text-decoration: none;
}

.footer-grid ul li a:hover {
    color: #dcf836;
}

.footer-item-left {
    float: left;
    width: 35%;
}

.footer-item-right {
    float: right;
    width: 60%;
}

.footer-item-right a {
    font-size: 1em;
    color: #606161;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    margin: 0 0 0.5em;
}

.footer-grid {
    text-align: left;
    float: left;
}

.footer-item-right a:hover {
    color: #dcf836;
}

.footer-item:nth-child(2),
.footer-item:nth-child(4) {
    margin: 1em 0;
}

.footer-grid-instagram {
    float: left;
    width: 33%;
}

.footer-copyright p {
    color: #fff;
    line-height: 1.8em;
    text-align: center;
    font-size: 0.9em;
    letter-spacing: 1px;
}

.footer-copyright p a {
    color: #0c0d0d;
}

ul.tags li a {
    font-size: 14px;
    color: #fff;
    padding: 7px 9px 10px;
    background: #212323;
}

ul.tags li {
    display: inline-block;
    margin: 8px 0;
}

ul.bottom-links {
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #1a1d1d;
    border-bottom: 1px solid #1a1d1d;
    padding: 1.5em 0;
    margin: 3em 0 2em 0;
}

ul.bottom-links li {
    display: inline-block;
    margin: 0 2em;
}

ul.bottom-links li a:hover {
    color: #dcf836;
}

ul.bottom-links li a {
    font-size: 14px;
    color: #606161;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    width: 40px;
    height: 22px;
    border: none;
    text-indent: 100%;
    background: url(http://project/images/move-top.png) no-repeat 0px 0px;
}

@media (max-width:1440px) {
    .banner-info {
        padding-top: 11em;
    }
    .banner-info h3 {
        font-size: 3em;
        letter-spacing: 4px;
    }
    .cd-header-buttons {
        position: absolute;
        display: inline-block;
        top: -62px;
        right: 45px;
    }
}

@media (max-width:1280px) {
    .banner-info {
        padding-top: 9em;
    }
    ul.nav.navbar-nav {
        margin-left: 5em;
        margin-top: 1.3em;
    }
    .banner-info h3 {
        font-size: 2.8em;
        letter-spacing: 4px;
    }
    .banner-info h4 {
        font-size: 0.9em;
        margin: 2em 0 2.5em 0;
        letter-spacing: 5px;
    }
    .item-description-upper h6 a {
        font-size: 1.2em;
    }
    .item-description-bottom p {
        float: left;
        font-size: 0.9em;
    }
    h3.section-title {
        margin: 1.2em 0 1em;
        font-size: 1.8em;
        text-align: left;
    }
    p.item-para {
        margin-top: .8em;
        line-height: 1.5em;
        font-size: 0.8em;
    }
    .footer-contact {
        width: 45%;
        margin: 1em auto 2.5em;
    }
    .footer-grid ul li a {
        font-size: 13px;
    }
    .footer-item-right a {
        font-size: 0.93em;
        text-align: left;
    }
    ul.bottom-links {
        padding: 1em 0;
        margin: 2em 0 1.5em 0;
    }
    p.para {
        margin: 1em auto 0;
        font-size: 0.9em;
        color: #999;
        width: 60%;
        line-height: 1.9em;
    }
    #contact h2 {
        text-align: center;
        font-size: 1.2em;
    }
    .footer-grid h4 {
        font-size: 1em;
    }
    h3.follow {
        font-size: 1.2em;
    }
    #contact {
        padding: 2em 0 0.5em 0;
    }
}

@media (max-width:1080px) {
    .inner-header {
        padding: 0 2em;
        position: relative;
    }
    .navbar-header h1 {
        font-size: 1.8em;
    }
    .navbar-nav>li {
        margin: 0 0.1em;
    }
    ul.nav.navbar-nav {
        margin-left: 3em;
        margin-top: 1.2em;
    }
    .banner-info h3 {
        font-size: 2.5em;
        letter-spacing: 4px;
    }
    .footer-contact {
        width: 56%;
        margin: 1em auto 2.5em;
    }
}

@media (max-width:1024px) {
    .banner-info {
        padding-top: 7em;
    }
    h3.section-title {
        margin: 1.2em 0 1em;
        font-size: 1.6em;
        text-align: left;
    }
    .footer-contact {
        width: 59%;
        margin: 1em auto 2.5em;
    }
    .section-wrapper {
        padding: 1em 1em 0em 1em;
    }
    ul.nav.navbar-nav {
        margin-left: 1.3em;
        margin-top: 1.2em;
    }
    #play {
        position: absolute;
        top: 34%;
        left: 40%;
        width: 64px;
        height: 64px;
        cursor: pointer;
        background: url(http://project/images/play-button.png) no-repeat 0px 0px;
        background-size: auto, cover;
        z-index: 9;
    }
}

@media (max-width:991px) {
    ul.dropdown-menu.multi-column {
        width: 336px;
        left: 0;
        padding: 0.5em;
    }
    .banner-info {
        padding-top: 6em;
    }
    .footer-grid {
        text-align: left;
        float: left;
        width: 48%;
        margin-bottom: 1em;
    }
    .items-list {
        float: right;
        padding-right: 0;
        padding: 0;
    }
    p.item-para {
        margin-top: .8em;
        line-height: 1.5em;
        font-size: 1em;
    }
    .video-player {
        padding: 0;
        margin-bottom: 1em;
    }
    div#home {
        padding: 0.9em 0 0;
    }
    ul.nav.navbar-nav {
        margin-left: 1em;
        margin-top: 1.2em;
    }
    .video-player {
        float: left;
        width: 100%;
    }
    #play {
        position: absolute;
        top: 46%;
        left: 47%;
    }
}

@media (max-width:800px) {
    .navbar-header h1 {
        font-size: 1.6em;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 0.85em;
        padding: 0.5em 0.5em;
    }
    .navbar-header h1 {
        font-size: 1.3em;
    }
    .inner-header {
        padding: 0 1.5em;
    }
    ul.nav.navbar-nav {
        margin-left: 1em;
        margin-top: 1.7em;
    }
    .banner-info h3 {
        font-size: 2em;
        letter-spacing: 4px;
    }
    .footer-contact {
        width: 68%;
        margin: 1em auto 2.5em;
    }
    .banner-info h4 {
        font-size: 0.8em;
        margin: 2em 0 2.5em 0;
        letter-spacing: 5px;
    }
    .footer-grid ul li a {
        font-size: 14px;
    }
}

@media (max-width:768px) {
    ul.dropdown-menu.multi-column {
        width: 255px;
        left: 0;
        padding: 0.5em;
    }
    ul.nav.navbar-nav {
        margin-left: 0.1em;
        margin-top: 1.7em;
    }
}

@media (max-width:767px) {
    .header {
        padding: 1.5em 1.5em 0;
    }
    .navbar-default .navbar-nav>li>a {
        text-align: center;
    }
    .navbar-default .navbar-collapse {
        border: none;
        background: #000;
    }
    .navbar-default .navbar-toggle {
        border-color: #dcf836;
        background: #dcf836;
        margin: 22px 0 0 0;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #ff8c00;
    }
    .navbar-default .navbar-nav>li>a:before {
        width: 0;
    }
    .navbar-default .navbar-nav>li>a {
        padding: 0.8em;
    }
    .navbar-nav>li {
        margin: 0;
    }
    div#navbar-collapse {
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100%;
        z-index: 999;
        margin-top: 0.5em;
        text-align: center!important;
    }
    .navbar-default .navbar-nav>li>a:before {
        width: 0;
        display: none;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 0.9em;
    }
    ul.multi-column-dropdown {
        text-align: center;
    }
    ul.dropdown-menu.multi-column ul li a {
        color: #fff;
    }
    ul.nav.navbar-nav {
        margin-left: 0;
        margin-top: 1.7em;
        margin: 0!important;
    }
    ul.dropdown-menu.multi-column {
        left: 0;
        padding: 0.5em;
        width: 100%;
        background: #000;
    }
    .navbar-nav>li {
        float: none;
        border-right: none;
        width: 100%;
    }
    .navbar-default .navbar-collapse {
        border: none;
    }
    .navbar-nav {
        background: #0c0d0d;
        padding: 10px 0;
    }
    ul.dropdown-menu.multi-column {
        text-align: center;
        float: none;
        width: 100%;
    }
/*    .navbar {
        width: 93%;
    }*/
    .navbar-toggle {
        position: relative;
        float: right;
        padding: 12px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 0px!important;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #dcf836;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #dcf836;
    }
    .navbar-default .navbar-toggle {
        border-color: #dcf836;
        background: #dcf836;
        margin: 20px 0 0 0;
    }
    .navbar-header h1 {
        font-size: 1.8em;
        text-align: left;
    }
    .cd-header-buttons {
        position: absolute;
        display: inline-block;
        top: -65px!important;
        right: 109px!important;
    }
    
    .account-dropdown {
        right: 67px!important;
        top: 30px!important;
    }
}

@media (max-width:736px) {
    .footer-contact {
        width: 93%;
        margin: 1em auto 2.5em;
    }
}

@media (max-width:667px) {
    p.para {
        margin: 1em auto 0;
        width: 100%;
        line-height: 1.9em;
    }
    .modal-dialog {
        width: 100%;
    }
    .modal-header h4 {
        font-size: 1.4em;
        margin: 0em 0 0.7em 0;
    }
    .modal-header {
        padding: 1.5em 1em;
    }
    .login-form input[type="submit"] {
        outline: none;
        padding: 0.8em 0;
        width: 100%;
        text-align: center;
        font-size: 1em;
        margin-top: 0.5em;
    }
    .login-form input[type="email"],
    .login-form input[type="text"],
    .login-form input[type="password"] {
        width: 100%;
        padding: 1em 1em 1em 1em;
        font-size: 0.8em;
        margin: 0.5em 0;
    }
}

@media (max-width:640px) {
    .footer-grid {
        text-align: left;
        float: left;
        width: 100%;
        margin-bottom: 1em;
    }
    .banner-info {
        padding-top: 4em;
    }
    p.item-para {
        margin-top: .8em;
        line-height: 1.5em;
        font-size: 0.9em;
    }
    .inner-header {
        padding: 0 1.2em;
    }
    .banner-info h3 {
        font-size: 1.8em;
        letter-spacing: 4px;
    }
    .banner-info h4 {
        font-size: 0.8em;
        margin: 1.5em 0 2em 0;
        letter-spacing: 5px;
    }
}

@media (max-width:568px) {
    #play {
        position: absolute;
        top: 39%;
        left: 47%;
    }
    .footer-inner {
        padding: 0 1em;
    }
}

@media (max-width:480px) {
    ul.bottom-links li {
        display: inline-block;
        margin: 0 1em;
    }
    .navbar-default .navbar-toggle {
        margin: 20px 0 0 0;
        margin-right: 10px;
    }
    .footer-contact input[type="submit"] {
        font-size: 0.9em;
        width: 22.3%;
        padding: 11px 0 12px;
    }
    .footer-contact input[type="email"] {
        font-size: 14px;
        width: 64%;
    }
    .footer-contact {
        width: 89%;
        margin: 1em auto 2.5em;
    }
    .footer-contact input[type="submit"] {
        outline: none;
        width: 31.3%;
    }
    #play {
        position: absolute;
        top: 39%;
        left: 43%;
    }
    .banner-info {
        padding-top: 2em;
    }
    .banner-info h3 {
        font-size: 1.6em;
        letter-spacing: 4px;
    }
    .banner-info h4 {
        font-size: 0.7em;
        margin: 1.5em 0 2em 0;
        letter-spacing: 5px;
    }
    .content-inner {
        padding: 0;
    }
    p.item-para span {
        float: left;
        width: 100%;
    }
    .conjuring_w3 {
        height: 25px;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 0.8em;
    }
    .item-description-upper h6 a {
        font-size: 1em;
    }
    .item-description-bottom p {
        float: left;
        font-size: 0.8em;
    }
}

@media (max-width:414px) {
    .content-inner {
        padding: 0;
    }
    .banner-info h3 {
        font-size: 1.4em;
        letter-spacing: 3px;
    }
    h3.section-title {
        margin: 1.2em 0 1em;
        font-size: 1.4em;
        text-align: left;
    }
    .play-icon i {
        font-size: 2.5em;
    }
    #play {
        position: absolute;
        top: 39%;
        left: 43%;
        background-size: 69%;
    }
    .banner-info h4 {
        font-size: 0.7em;
        margin: 1.5em 0 2em 0;
        letter-spacing: 2px;
    }
    p.item-para span {
        float: left;
        width: 100%;
    }
    .conjuring_w3 {
        height: 25px;
    }
    .navbar-header h1 {
        font-size: 1.6em;
        text-align: left;
    }
    div#home {
        padding: 0em 0 0;
    }
    .cd-header-buttons {
        position: absolute;
        display: inline-block;
        top: -66px;
        right: -7px;
    }
}

@media (max-width:384px) {
    .navbar-default .navbar-toggle {
        margin: 20px 0 0 0;
        margin-right: 20px;
    }
    h3.section-title {
        margin: 1.2em 0 1em;
        font-size: 1.2em;
        text-align: left;
    }
}

@media (max-width:375px) {
    .banner-info {
        padding-top: 1em;
    }
    ul.bottom-links li {
        display: inline-block;
        margin: 0 0.5em;
    }
    ul.bottom-links li a {
        font-size: 0.8em;
    }
    a.play-icon-1 {
        padding: 0.6em 0.8em 0.6em 0.8em;
    }
}

@media (max-width:320px) {
    .navbar-header h1 {
        font-size: 1.4em;
        text-align: left;
    }
    ul.bottom-links li {
        display: inline-block;
        margin: 0 0.5em;
    }
    .banner-info h3 {
        font-size: 1.2em;
        letter-spacing: 1px;
    }
    .banner-info h4 {
        font-size: 0.7em;
        margin: 0.8em 0 1.5em 0;
        letter-spacing: 1px;
        line-height: 1.8em;
    }
    .navbar-toggle {
        position: relative;
        float: right;
        padding: 10px 9px;
    }
    .banner-info {
        padding-top: 0.5em;
    }
    .footer-contact input[type="submit"] {
        outline: none;
        width: 37.3%;
        padding: 9px 0 10px;
        font-size: 0.8em;
    }
    .footer-inner {
        padding: 0 0.2em;
    }
    #contact h2 {
        text-align: center;
        font-size: 1.05em;
    }
    .footer-contact input[type="email"] {
        font-size: 14px;
        width: 59%;
        padding: 8px 15px;
    }
}

tr {
    border-bottom: 1px solid #fff;
}

.breadcrumb-container {
    background-color: #f5f5f5;
}

.description-items {
    line-height: 1.5em;
    margin-top: .8em;
    font-size: 14px;
    letter-spacing: 1px;
}

.description-items>div {
    padding-right: 0;
}

.description-items {
    color: #fff;
}

.item-name {
    color: #dcf836;
    font-weight: bold;
}

.item-brief {
    color: #d2d2d2;
    line-height: 1.5em;
    font-weight: normal;
}

.tt-menu {
    padding: 5px!important;
}

.item-card {
    margin-bottom: 1em;
    position: relative;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.item-card:hover .play-icon {
    display: block;
    position: absolute;
    top: 37%;
    left: 41%;
}

.item-card:hover img {
    opacity: 0.7;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(220, 248, 54, 0.7);
    -moz-box-shadow: 0px 0px 3px 2px rgba(220, 248, 54, 0.7);
    box-shadow: 0px 0px 3px 2px rgba(220, 248, 54, 0.7);
}

.item-title {
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-wrap: break-word;
    width: 100%;
}

.item-card:hover .item-title {
    color: #dcf836!important;
}

.item-card img {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
}

.owl-carousel .owl-wrapper-outer {
    padding-top: 1em;
}

.owl-prev,
.owl-next {
    background-color: #212121!important;
}

.owl-prev:hover,
.owl-next:hover {
    background-color: #dcf836!important;
}

.breadcrumb-container>div {
    padding: 0;
}


/*-- search --*/

.cd-main-header {
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

.cd-main-header {
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.cd-main-content.nav-is-visible,
.cd-main-header.nav-is-visible {
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
}

.nav-on-left .cd-main-content.nav-is-visible,
.nav-on-left .cd-main-header.nav-is-visible {
    -webkit-transform: translateX(260px);
    /*-- w3layouts --*/
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px);
}

.cd-search-trigger,
.cd-nav-trigger {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
    z-index: 3;
}

.cd-search-trigger::before,
.cd-search-trigger::after {
    /* search icon */
    content: '';
    position: absolute;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cd-search-trigger::before {
    top: 11px;
    left: 11px;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /*-- agileits --*/
    border: 3px solid #fff;
}

.cd-search-trigger::after {
    /* handle */
    height: 3px;
    width: 8px;
    background: #fff;
    bottom: 14px;
    right: 11px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cd-search-trigger span {
    /* container for the X icon */
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.cd-search-trigger span::before,
.cd-search-trigger span::after {
    /* close icon */
    content: '';
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 22px;
    top: 50%;
    margin-top: -2px;
    left: 50%;
    margin-left: -11px;
    background: #fff;
    opacity: 0;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.cd-search-trigger span::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cd-search-trigger span::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cd-search-trigger.search-is-visible::before,
.cd-search-trigger.search-is-visible::after {
    /* hide search icon */
    -moz-opacity: 0;
    opacity: 0;
}

.cd-search-trigger.search-is-visible span::before,
.cd-search-trigger.search-is-visible span::after {
    /* show close icon */
    -moz-opacity: 1;
    opacity: 1;
}

.cd-search-trigger.search-is-visible span::before {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.cd-search-trigger.search-is-visible span::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cd-search {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-search input {
    border-radius: 0;
    border: none;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    padding: 0 5%;
    -webkit-box-shadow: inset 0 1px 0 #dcf836, 0 3px 6px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 #dcf836, 0 3px 6px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 #dcf836, 0 3px 6px rgba(0, 0, 0, 0.05);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-size: 1.2em;
    padding: 1em 2em;
    color: #fff;
    letter-spacing: 1px;
}

.cd-search input::-webkit-input-placeholder {
    color: #fff !important;
}

.cd-search input::-moz-placeholder {
    color: #fff !important;
}

.cd-search input:-moz-placeholder {
    color: #fff !important;
}

.cd-search input:-ms-input-placeholder {
    color: #fff !important;
}

.cd-search input:focus {
    outline: none;
}

.cd-search.is-visible {
    -moz-opacity: 1;
    opacity: 1;
    background-color: #020d18e3;
    visibility: visible;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.search-item-banner {
    max-height: 25px;
    margin-right: 1em;
}

.search-items-category {
    color: #000;
    font-size: 18px;
}

.search-item-title {
    color: #000;
    margin: 0 0 1em 1em;
}

.search-item-title:hover {
    color: #656565!important;
}

.navbar-default .navbar-nav>.open>a {
    background: none;
}

ul.resp-tabs-list {
    margin: 0 auto;
    width: 100%!important;
}

ul.resp-tabs-list.inner-second {
    margin: 0 auto;
    width: 100%!important;
}

.breadcrumb {
    border-radius: 0;
}

.accordion {
    color: #fff;
}

.accordion-child-group {
    background-color: #061944;
}

[data-accordion-group] {
    margin-bottom: 1.5rem;
}

[data-control] {
    border-bottom: 2px solid #888!important;
}

[data-control]:hover {
    cursor: pointer;
}

.results-view-all {
    padding: 1em;
}

td {
    color: #fff!important;
}

tr {
    border-bottom: 1px solid #fff;
}

.summary {
    color: #fff;
}

.view-all-grid {
    padding: 2em 0;
}

.breadcrumb {
    background: none;
    margin-bottom: 0;
    padding: 8px 4px;
}

.breadcrumb a {
    color: #000;
}

.breadcrumb a:hover {
    color: #666;
}

.breadcrumb-container {
    background-color: #f5f5f5;
}

.description-items {
    line-height: 1.5em;
    margin-top: .8em;
    font-size: 14px;
    letter-spacing: 1px;
}

.description-items>div {
    padding-right: 0;
}

.description-items {
    color: #fff;
}

.item-name {
    color: #dcf836;
    font-weight: bold;
}

.item-brief {
    color: #d2d2d2;
    line-height: 1.5em;
    font-weight: normal;
}

.search-item-title {
    color: #000;
    margin: 0 0 1em 1em;
}

.search-item-title:hover {
    color: #656565!important;
}

.search-item-banner {
    max-height: 25px;
    margin-right: 1em;
}

.search-items-category {
    color: #000;
    font-size: 18px;
}

.search-error {
    color: #a94442;
    padding: 1em;
}

.tt-menu {
    padding: 5px!important;
}

.large-banner {
   margin-bottom: 2em; 
}

.large-banner > img {
    width: 100%;
    height: 100%;
    /*opacity: 0.5;*/
}

.item-card {
    margin-bottom: 1em;
    position: relative;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.item-card:hover .play-icon {
    display: block;
    position: absolute;
    top: 37%;
    left: 41%;
}

.item-card:hover img {
    opacity: 0.7;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(220, 248, 54, 0.7);
    -moz-box-shadow: 0px 0px 3px 2px rgba(220, 248, 54, 0.7);
    box-shadow: 0px 0px 3px 2px rgba(220, 248, 54, 0.7);
}

.item-title {
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-wrap: break-word;
    width: 100%;
}

.item-card:hover .item-title {
    color: #dcf836!important;
}

.results-wrapper {
    padding: 1rem 0;
}

.w3ls-recent-grids img {
    /*    padding-bottom: 1em;*/
    margin: 0 auto;
}

.item-card img {
    margin: 0 auto;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
}

.item-title-abs {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 180%;
    text-align: center;
    border-radius: 2px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-wrap: break-word;
    width: 85%;
    padding: 0 17%;
}

.tt-menu .tt-suggestion {
    font-weight: inherit;
}

.owl-carousel .owl-wrapper-outer {
    padding-top: 1em;
}

.owl-prev,
.owl-next {
    background-color: #212121!important;
}

.owl-prev:hover,
.owl-next:hover {
    background-color: #dcf836!important;
}

.actions-toolbar {
    border-bottom: 1px solid #fff;
    padding: 1.5rem 0;
    margin-bottom: 1em;
    color: #e4e4e4;
}

.results-count {
    text-align: left;
    padding: 0;
}

.pagination {
    margin: 0
}

.pagination-wrapper {
    text-align: right;
}

.actions-footbar {
    margin-top: 1rem;
    color: #e4e4e4;
    border-top: 1px solid #fff;
    padding-top: 1em;
}

.pagination>li>a {
    background: none;
    border: none;
    color: #fff;
}

.pagination>li>a:hover {
    background: none;
    border: none;
    color: #dcf836;
}

.pagination>li:last-child>span,
.pagination>li:first-child>span {
    border: none;
    background: none;
}

.pagination .active a {
    background-color: #dcf836;
    border: none;
    color: #000;
    font-weight: bold;
}

.pagination .active a:hover {
    background-color: #dcf836;
    color: #000;
}

.pagination>.disabled>span:hover {
    background: none;
}

.pagination>li a:focus {
    background: none;
}

.breadcrumb-container>div {
    padding: 0;
}

.form-box input[type="text"],
.form-box input[type="email"],
.form-box textarea {
    outline: none;
    border: 1px solid #d6d4d4;
    background: none;
    padding: 13px 13px;
    width: 100%;
    font-size: 14px;
    letter-spacing: 1px;
    color: #333;
}

.form-box input[type="email"]:nth-child(2) {
    margin: 1em 0;
}

.form-box textarea {
    min-height: 110px;
    margin-bottom: 6px;
}

.form-box input[type="submit"] {
    outline: none;
    font-style: normal;
    padding: 0.9em 4em;
    background: #dcf836;
    font-size: 16px;
    color: #fff;
    display: block;
    border: none;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}

.form-info {
    padding-left: 0;
}

.all-comments-info {
    padding: 2em;
    border: 1px solid#ddd;
    margin: 2em 0;
}

.all-comments-info h5 {
    font-size: 1em;
    margin: 0;
    font-weight: 600;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #0c0d0d;
    margin: 0em 0 1em 0;
}

@media (max-width:991px) {
    .form-info {
        padding-left: 0;
        padding: 0;
        margin-top: 1em;
    }
}

@media (max-width:480px) {
    .form-box input[type="submit"] {
        padding: 0.7em 3em;
    }
}

@media (max-width:414px) {
    .all-comments-info {
        padding: 1em;
    }
}

.no-episode {
    padding: 1em;
    color: #fe423f;
}

.side-title {
    margin-bottom: 1em;
}

.slinky-menu {
    margin-bottom: 1em;
}

li.active-episode {
    background-color: #dcf836;
}

.ribbon {
    position: absolute;
    top: 3%;
    right: 7%;
    padding: 11px 0 0 0;
    background: rgba(11, 12, 12, 0.8);
    width: 61px;
    height: 23px;
}

.ribbon p {
    font-size: 0.75em;
    color: #fff;
    line-height: 0;
    text-align: center;
}

.ribbon:after {
    content: '';
    position: absolute;
    top: 86%;
    right: 18%;
    width: 0;
    height: 0;
    border-top: 8px solid rgba(11, 12, 12, 0.8);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    transform: rotate(119deg);
}

label {
    color: #fff;
    font-weight: bold;
    padding-bottom: 0.5em;
}

.actions-toolbar div {
    padding-left: 5px;
    padding-right: 5px;
}

.inner-title {
    font-size: 3em;
    padding-bottom: 1em;
}

a.area-jumper {
    position: fixed;
    z-index: 99999;
    bottom: 0;
    padding: 1em;
    font-weight: bold;
    transition: 0.2s ease-in;
    border-radius: 0;
}

.slinky-menu .header {
    border-bottom: 2px solid #e7e7e7;
}

.slinky-menu a span {
    font-weight: normal;
}

.footer-wrapper ul.social-icons li a i.fab {
    font-size: 20px;
    line-height: 41px;
    width: 42px;
    height: 42px;
    border: 1px solid #999;
    text-align: center;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    color: #fff;
}
.footer-wrapper ul.social-icons li a i.fab:hover {
    background-color: #dcf836;
    border: 1px solid #dcf836;
    color: #fff;
}

.nav > li > a {
    color: #333;
}

label {
    color: #333;
}

.panel-body > p {
    color: #333;
    padding: 0.5em;
}

.account-dropdown {
    position: absolute;
    top: 34px;
    right: 0;
    width: 44px;
    height: 44px;
}

.account-dropdown i {
    font-size: 1.5em;
}

.open a.dropdown-toggle, .open a.dropdown-toggle:hover, .open a.dropdown-toggle:focus, a.dropdown-toggle:hover, a.dropdown-toggle:focus {
    color: #fff!important;
    text-decoration: none;
}

hr {
    margin: 0;
}

.dropdown:hover .dropdown-menu, .account-dropdown:hover .dropdown-menu {
    display: block;
}
.description-container{
    margin-bottom: 1em;
}

.description-container > h4 {
    margin-bottom: 0.5em;
    border-bottom: 1px solid #fff;
}

.description {
    color: #909090;
    font-size: 13px;
}

.padding-bottom-2 {
    padding-bottom: 2px;
}

.right {
    margin-bottom: 2em;
}